@{
    ViewBag.Title = "civil";
    Layout = "~/Views/Shared/GeneralMaster.cshtml";
}

<div class="container-fluid">

    <div class="row" style=" font-family:'MV Boli'">
        <center>
            
            <div style="min-height:485px;width:98%;text-align:center;border-bottom-right-radius:50px;background-color:white;border-top-left-radius:50px;box-shadow:4px 4px 4px 4px grey">
                <div class="row course" style="background:#3a3b3c;max-height:80px;width:100%;text-align:center;padding:0.5%;margin-top:10px;border-top-left-radius:50px;color:white;margin-left:0px"><h2><strong><a>Civil Engineering Department</a></strong></h2></div>
                <span class="" style="font-size:140%;font-family:'MV Boli';">
                    Civil Engineering Department in Government Polytechnic Premdhar Patti Pratapgarh offers 3 years Diploma programme in Civil Engineering to the
                    students who have passed 10th standard. The Department provides an outstanding educational environment complemented by superior teaching for
                    its students as required by the industries.<br />
                    The aim of Diploma Course in Civil Engineering at Government Polytechnic Premdhar Patti Pratapgarh is to mould the students for professional
                    practice, in an era of rapidly advancing interdisciplinary technology.The course builds on core curriculum to combine individual depth of
                    experience competence, in Civil Engineering, with excellent background in all related subjects.It strikes a balance between classroom,
                    lecture, laboratory and design and lays stress on floor level problem solving skills, which is essential for any branch.<br />

                    The course ensures to develop in each student: self-reliance, creativity, leadership, business and moral ethics and continuing education and motivation.
                </span>


            </div>



        </center>




    </div>

</div>