@{
    ViewBag.Title = "principal";
    Layout = "~/Views/Shared/GeneralMaster.cshtml";
}



<CENTER><div class="container-fluid">


    <div class="row">
        <cenetr>
            
            <div class="row" align="CENTER" style="background: white; width: 98%; box-shadow: 4px 4px 4px 4px grey; margin-top: 10px; border-top-left-radius: 50px; ">
                <div class="row course" align="CENTER" style="background: #3a3b3c; max-height: 80px; width: 100%; text-align: center; padding: 0.5%;  border-top-left-radius: 50px; color: white; font-family: Algerian;margin-left:0px"><h2><strong><a>PRINCIPAL MESSAGE</a></strong></h2></div>
                <div class="col-lg-3 col-sm-12">

                    <div class="col-lg-12 col-sm-12" align="CENTER" style="padding:2% 2% 2% 2%">
                        <img src="~/Content/image/principal.jpeg" style="height: 400px; width: 250px; border: 5px solid #E9AB17; padding: 5px" />
                        <h3 style="margin-top:20px"><strong>Shri P. C. Verma</strong></h3>

                    </div>

                </div>
                <div class="col-lg-9 col-sm-12" style="text-align:justify">


                    <span class="" style="font-size: 140%; font-family: 'Bell MT'; text-align: justify">
                        Dear All, Welcome to Government Polytechnic Premdhar Patti, Pratapgarh. This is one of the best institute under Board of Technical Education, Uttar Pradesh which imparts training of diploma level in Computer Science & Engineering, Electrical Engineering, and Civil Enginnering with intake of 60 in each branch. It was established in 2014 by the State Government of Uttar pradesh cater the technical center in order to acquaint our student and staff with the changing trends of technology. The institute have well experienced faculty in different disciplines.
                    </span>

                    <h4 style="font-size: 140%; font-family: 'Bell MT'">
                        <strong>
                            We are committed for holistic development of each student and inculcation of values is emphasized to build life-long learning experiences.

                            In order to ensure multi-faceted development of students we leverage on the following points:
                        </strong>
                    </h4>
                    <span class="" style="font-size: 140%; font-family: 'Bell MT'">
                        1. Technical Knowledge as well as practical exposure.<br />
                        2. Focus on communication and professional skills.<br />
                        3. Personality developments programmes.<br />
                        4. Employment and Internship Opportunities : Training and Placement<br />
                        5. Cultural Events and Sports Programme.<br />
                        6. Student Central Activities.<br />
                        7. Universal Human Values.<br />
                    </span>

                </div>
            </div>


        </cenetr>

    </div>








</div></CENTER>
































































