@{
    ViewBag.Title = "vision";
    Layout = "~/Views/Shared/GeneralMaster.cshtml";
}

<div class="container-fluid">

    <div class="row">
        <center>
           
            <div style="min-height: 400px; width: 98%; text-align: justify; border-bottom-right-radius: 50px; background-color:white; font-family: 'Bell MT'; font-size: 24px; border-top-left-radius: 50px;box-shadow:4px 4px 4px 4px grey">
                <div class="row course" style="background:#3a3b3c;max-height:80px;width:100%;text-align:center;padding:0.5%;margin-top:10px;border-top-left-radius:50px;color:white;margin-left:0px"><h2><strong><a>Our Vision</a></strong></h2></div>
                <span>
                    Our vision is to develop institute as centre of excellence for imparting technical education in the emerging technologies
                    producing technicians, entrepreneurs, relevant to the
                    real world of work and making them self reliant as well as responsive to the industry and serving the society at large.
                </span>


            </div>



        </center>




    </div>

</div>