@{
    ViewBag.Title = "addcourses";
    Layout = "~/Views/Shared/adminmaster.cshtml";
}

<link href="~/Content/css/NOTICE.CSS" rel="stylesheet" />
<body style="background:linear-gradient(#141e30, #243b55)">
    <div class="login-box">
        <h2>ADD COURSE</h2>
        <form action="/admin/addcourses" method="post">
            <div class="user-box">
                <input type="text" name="NAME" required="" autocomplete="off">
                <label>COURSE NAME</label>
            </div>
            <div class="user-box">
                <input type="text" name="course" required="" autocomplete="off">
                <label>SHEET</label>
            </div>
            <div class="user-box">
                <input type="text" name="QUALIFICATION" required="" autocomplete="off">
                <label>QUALIFICATION</label>
            </div>
            <div class="user-box">
                <input type="text" name="duration" required="" autocomplete="off">
                <label>DURATION</label>
            </div>

            <input type="submit" class="form-control " value="ADD COURSE" style="background-color: #7D0552" />

        </form>
    </div>
</body>

