@{
    ViewBag.Title = "ADDNOTICE";
    Layout = "~/Views/Shared/adminmaster.cshtml";
}
<link href="~/Content/css/NOTICE.CSS" rel="stylesheet" />
<body style="background:linear-gradient(#141e30, #243b55)">
<div class="login-box">
    <h2>ADD NOTICE</h2>
    <form action="/admin/addnotice" method="post" enctype="multipart/form-data">
        <div class="user-box">
            <input type="text" name="txtname1" required="" autocomplete="off">
            <label>NOTICE TYPE</label>
        </div>
        <div class="user-box">
            <input type="file" name="txtmsg1" required="" autocomplete="off">

        </div>
        <input type="submit" class="form-control " value="ADD NOTICE"style="background-color: #7D0552" />
    </form>
</div>
    </body>