@{
    ViewBag.Title = "uUSER";
    Layout = "~/Views/Shared/adminmaster.cshtml";
}

<link href="~/Content/css/NOTICE.CSS" rel="stylesheet" />
<body style="background:linear-gradient(#141e30, #243b55)">
<div class="login-box">
    <h2>UPDATE USERNAME</h2>
    <form action="/admin/uUSER" method="post">
        <div class="user-box">
            <input type="text" name="OUSER" required="" autocomplete="off">
            <label> OLD USER NAME</label>
        </div>
        <div class="user-box">
            <input type="text" name="PASS" required="" autocomplete="off">
            <label>PASSWORD</label>
        </div>

        <div class="user-box">
            <input type="text" name="USER" required="" autocomplete="off">
            <label>NEW USERNAME</label>
        </div>
        <div class="user-box">
            <input type="text" name="CUSER" required="" autocomplete="off">
            <label>CONFIRM NEW USERNAME</label>
        </div>
        <div class="user-box">
            <input type="hidden" name="sr" required="" autocomplete="off">

        </div>
        <input type="submit" class="form-control " value="UPDATE PASSWORD" style="background-color: #7D0552" />
    </form>
    <br />
    
</div>
    </body>
