@{
    ViewBag.Title = "viewlogin";
    Layout = "~/Views/Shared/adminmaster.cshtml";
}
@using System.Data;
@using System.Data.SqlClient;
@using timepass.Models;
<link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
<div class="container-fluid">

    <div class="row">
        <center>

            <div style="min-height: 200px; width: 98%; text-align: center; border-bottom-right-radius: 50px; background-color: white; border-top-left-radius: 50px;box-shadow:4px 4px 4px 4px grey">
                <div class="row course" style="background:#3a3b3c;max-height:80px;width:100%;text-align:center;padding:0.5%;margin-top:10px;border-top-left-radius:50px;color:white;margin-left:0px"><h2><strong><a>FEE STRUCTURE</a></strong></h2></div>
                <div class="table-responsive" style=" margin-bottom: 30px;text-align:center">

                    <h4 style="color: black; padding: 5px; font-family: Bahnschrift; font-style: italic"><strong>FEE STRUCTURE FOR DIPLOMA COURSE</strong></h4>
                </div>


                <table class=" table table-hover table-bordered" style="text-align: center; font-family: 'MV Boli';">

                    @{
                        string cmd = "select * from login";
                        DBmanager db = new DBmanager();
                        DataTable dt = db.GetAllRecords(cmd);
                        if (dt.Rows.Count > 0)
                        {
                            <thead>
                            <td style=" font-family: Bahnschrift;"><strong>USER ID</strong></td>
                            <td style=" font-family: Bahnschrift;"><strong>PASSWORD</strong></td>
                            <td style=" font-family: Bahnschrift;width:100px"><strong>DELETE</strong></td>
                            </thead>
                            for (int i = 0; i < dt.Rows.Count; i++)
                            {


                                <tr style="font-family: Bahnschrift; font-style: italic; text-align: center; font-family: 'MV Boli';">

                                    <td>@dt.Rows[i]["USERID"]</td>
                                    <td>@dt.Rows[i]["PASSWORD"]</td>

                                    <td>
                                        <a href="/Admin/DelETELOGIN?del=@dt.Rows[i]["sr"]">
                                            <span class="fa fa-trash"></span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <h2>""NO DATA FOUND""</h2>
                        }
                    }

                </table>

                <div class="stage" style="margin-top:20px;margin-bottom:50px">
                    <a class="btn" href="/ADMIN/ALOGIN">ADD lOGIN</a>
                </div>
            </div>

    </div>

    <style>
        .btn {
            font-size: 20px;
            border: none;
            outline: none;
            background: #c38b8b;
            color: #fff;
            cursor: pointer;
            position: relative;
            z-index: 0;
            border-radius: 10px;
        }

            .btn::before {
                position: absolute;
                content: "";
                width: calc(100% + 4px);
                height: calc(100% + 4px);
                left: -2px;
                top: -2px;
                background: linear-gradient( 124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3 );
                background-size: 400%;
                z-index: -1;
                filter: blur(5px);
                animation: move 20s linear infinite;
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
                border-radius: 10px;
            }

            .btn:hover::before {
                opacity: 1;
            }

            .btn::after {
                z-index: -1;
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background: #555273;
                left: 0;
                top: 0;
                border-radius: 10px;
            }
    </style>
